<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SubscriptionServiceQueue" value="msmq://localhost/mt_subscriptions"/>
    <add key="SourceQueue" value="msmq://localhost/mt_my_consumer"/>
  </appSettings>
</configuration>